<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="SlimSkeleton">
            <directory>tests</directory>
        </testsuite>


        <testsuite name="user">
            <directory>./test/user</directory>
            <file>*.php</file>
        </testsuite>
    </testsuites>
</phpunit>